<div class="mt-8">
<app-cart-sevices></app-cart-sevices>
<app-cart-packages></app-cart-packages>
<div class="container mx-auto card">
  <div class="flex items-center justify-center mb-4 space-x-2">
    <h1 class="text-2xl font-bold">Total Price</h1>
    <h1 class="text-2xl font-bold">{{ totalPrice }}</h1>
  </div>
  <div class="flex items-center justify-center mb-4 space-x-2">
    <button class="btn btn-confirm bg-green-500 text-white hover:bg-green-600"  (click)="confirm()">Confirm</button>
    <button class="btn btn-cancel bg-red-500 text-white hover:bg-red-600"  (click)="DeleteThisPayment()">Cancel</button>
  </div>
  
</div>
</div>